<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h2>Create New Listing</h2>
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Enter A catchy title"
          class="form-control"
          required
        />
        <!-- this is used to validate the form if anything is left empty it will show an error message whatever you want to say.  -->
        <div class="valid-feedback">Title looks good!</div>

        <div class="invalid-feedback">Please enter a title.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>

        <textarea
          name="listing[description]"
          placeholder="Enter the description"
          class="form-control"
          required
        ></textarea>

        <div class="invalid-feedback">Please enter a short description.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label"> Upload Image </label>
        <input type="file" name="listing[image]" class="form-control" />
        required
      </div>

      <div class="row">
        <!-- type="number" -->
        <!-- this is removed because we are using bootstrap and it has its own
        validation system which is more efficient than our custom one. -->
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            placeholder="India"
            name="listing[country]"
            class="form-control"
            required
          />

          <div class="invalid-feedback">Country name should be valid.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          placeholder="Varansi,Uttar Pradesh"
          name="listing[location]"
          class="form-control"
          required
        />

        <div class="invalid-feedback">Location should be valid.</div>
      </div>

      <button class="btn btn-dark add-btn">Add</button>
    </form>
  </div>
</div>
